.jssorl-004-double-tail-spin img {
    animation-name: jssorl-004-double-tail-spin;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.jssort051 .p {position:absolute;top:0;left:0;background-color:#000;}
.jssort051 .t {
	position:absolute;
	top:0;
	left:0;
	margin-left: 2px;
	margin-right: 2px;
	width:calc(100% - 4px);
	height:100%;
	border:none;
	opacity:.45;
	background-color: #f4f4f4;
}
.jssort051 .p:hover .t{opacity:.8;}
.jssort051 .pav .t, .jssort051 .pdn .t, .jssort051 .p:hover.pdn .t{opacity:1;}

